.accordion {
  position: relative;
  background-color: #222222;
  background: rgba($main-color ,0.05);
  cursor: pointer;
  padding: 24px;
  padding-left: 70px;
  width: 100%;
  height: 0px;
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  outline: none;
  display: flex;
  align-items: center;
  transition: 0.4s;
  &::after{
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Outline' viewBox='0 0 24 24' width='16' height='16' fill='white'><path d='M17.71,12.71a1,1,0,0,0-1.42,0L13,16V6a1,1,0,0,0-2,0V16L7.71,12.71a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.3,4.29A2,2,0,0,0,12,19h0a2,2,0,0,0,1.4-.59l4.3-4.29A1,1,0,0,0,17.71,12.71Z'/></svg>");
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-40%);
  }
}

.active, .accordion:hover {
  color: $main-color;
}

.active:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' id='Outline' viewBox='0 0 24 24' width='16' height='16' fill='white'><path d='M17.71,9.88l-4.3-4.29a2,2,0,0,0-2.82,0L6.29,9.88a1,1,0,0,0,0,1.41,1,1,0,0,0,1.42,0L11,8V19a1,1,0,0,0,2,0V8l3.29,3.29a1,1,0,1,0,1.42-1.41Z'/></svg>");
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-40%);
}

.panel {
  z-index: 10;
  padding: 0 18px;
  padding-left: 70px;
  background-color: #222222;
  background: rgba($main-color ,0.05);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}